html{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}
body{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
header{
    font-weight: normal;
    font-size: 50px;
}
.download{
    color: aquamarine;
    font-size: 16px;
}
.next_text{
    font-weight: 300;
    font-size: 42px;
}
.additional_text{
    font-size: 21px;
    color: gray;
}
footer{
    text-align: right;
}